@font-face {
  font-family: 'Russo One';
  src: url('../public/RussoOne-Regular.ttf');
}

html body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
